/* Main section Layout */
.main-section {
    margin: 3em;
    &__title {
        font-size: $xx-large;
    }
    &__content {
        color: $granite-gray;
        font-size: $medium;
        line-height: 1.6;
        padding-top: .4em;
    }
}

@media only screen and (min-width: 768px) { 
    .main-section {
        margin: 5em;
        &__title {
            font-size: $xxx-large;
        }
    }    
}